%h1 Is your website blocked in China?
%form{ :action => "/query", :method => "post"}
	%input{:name => 'url', :selected => true, :size => '40'}
	%input{:type => "submit", :value => "Send", :class => "button"}

	%p There are a bunch of services to check if a website is accessible from China.
	%p Unfortunately most of them are not accurate by doing their test on a DNS check.
	%p I guarantee my result by doing an actually HTTP request from servers based in China.
	%p Enjoy!