%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%script{:type => "text/javascript", :src  => "textcolor.js"}
		%script{:type => "text/javascript", :src  => "spin.js"}
		%script{:type => "text/javascript", :src  => "ga.js"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
		%title Huoqiang
	%body
		#content
			=yield