%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%script{:type => "text/javascript", :src  => "textcolor.js"}
		%script{:type => "text/javascript", :src  => "ga.js"}

		%link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
		%title WebsiteBlockedInChina.com
	%body
	%img{:src => @image, :class =>"bg"}
	#wrap
		#content
			=yield
		#footer
			%ul
				%li
					%a{:href => '/about', :description => 'About'}About
				%li
					%a{:href => '/home', :description => 'Home'}Home
				%li
					%a{:href => 'https://twitter.com/sylvainkalache'}By @SylvainKalache
	#background